<div class="page page-tables-bootstrap ng-scope">
  <div ui-view> 
  <section class="tile" fullscreen="isFullscreen07">
  <!-- page header -->
  <!-- /page header -->
    <!-- tile widget -->
    <div class="tile-widget">

      <div class="row">

        <div class="col-sm-8">
            <h2 class="page_title">News</h2>
        </div>

        <div class="col-sm-3 pull-right">
            <button ui-sref="app.news.addnews" class="btn btn-dark btn-border btn-rounded-20 btn-own pull-right">+ Add News</button>
        </div>

      </div>

    </div>
    <!-- /tile widget --><!-- tile body -->
    <div class="tile-body p-0">
      <div class="table-responsive">
        <div class="pagecontent">
          <div class="row" masonry>
            <div class="masonry-brick col-sm-6 col-md-4 col-lg-3" ng-repeat="brick in newslist">
              <div class="tile tile-simple tile-shadow">
                <div class="tile-header cover" ng-show="brick.imgPath">
                  <img ng-src="{{ brick.imgPath }}" alt="A masonry brick" class="img-responsive">
                </div>
                <div class="tile-body">
                  <h3 class="brick-title" style="white-space: pre;">{{brick.newsTitle}}</h3>
                  <p class="brick-meta">
                    <a href="javascript:;">{{brick.date_updated}}</a>
                  </p>
                  <p class="brick-content" style="white-space: pre;">{{brick.newsContent}}</p>
                  <button type="button" class="btn btn-info btn-border btn-rounded b-1x read-more" ui-sref="app.news.addnews({newsID: brick.newsID})">Edit Article</button>
                  <button type="button" class="btn btn-info btn-border btn-rounded b-1x read-more" ng-click="deleteNews( brick.newsID );">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  <!-- /tile body -->
  </section>
  </div>
</div>
