<div ui-view><div class="page page-tables-bootstrap ng-scope">
	<!-- tile -->
	<section class="tile" fullscreen="isFullscreen07">

	  <!-- tile header -->

	  <!-- /tile header -->

	  <!-- tile widget -->
	  <div class="tile-widget">

	    <div class="row">

	      <div class="col-sm-8">
	          <h2 class="page_title">Completion Report</h2>
	      </div>

	    </div>

	  </div>
	  <!-- /tile widget -->

	  <!-- tile body -->
	  <div class="tile-body p-0">
	    <div class="table-responsive">
	      <table class="table mb-0">
	        <thead>
	          <tr>
	            <th>No</th>
	            <th>First Name</th>
	            <th>Last Name</th>
	            <th>Completion</th>
	            <th style="width:12%;"></th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="report in reports" ng-if="$index < currentPage * perpage && $index >= (currentPage-1) * perpage">
            	<td>{{$index + 1}}</td>
	            <td>{{report.firstName}}</td>
	            <td>{{report.lastName}}</td>
	            <td class="blue-cell">{{report.completion}}%</td>
	            <td>
	              <span ui-sref="app.reports.person({userID: report.userID})" class="text-success">View Details</span>
	            </td>
	          </tr>
	          <tr ng-hide="reports.length">
	            <td colspan = 7 align="center"> There is no result!</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
	  <!-- /tile body -->

	  <!-- tile footer -->
	  <div class="tile-footer dvd dvd-top">
	    <div class="row"  ng-show="reports.length">

	      <div class="col-sm-5 hidden-xs">
	      </div>

	      <div class="col-sm-3 text-center">
	        <small class="text-muted">showing {{(currentPage-1) * perpage + 1 }} - {{to_limit}} of {{reports.length}} items</small>
	      </div>

	      <div class="col-sm-4 text-right">
	        <ul class="pagination pagination-sm m-0">
	          <li><a href ng-class="{'disable': currentPage == 1}" ng-click="setpage(currentPage-1)"><i class="fa fa-chevron-left"></i></a></li>
	          <li class="page_number" ng-repeat="report in reports" ng-if="page=($index/perpage)+1; ($index % perpage)==0"><a href ng-class="{'active': page==currentPage}" ng-click="setpage(page)">{{page}}</a></li>
	          <li><a href ng-class="{'disable': currentPage>=reports.length/perpage && currentPage < reports.length/perpage +1}" ng-click="setpage(currentPage+1)"><i class="fa fa-chevron-right"></i></a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <!-- /tile footer -->
	</section>
	<!-- /tile -->
</div>
</div>
