<div ui-view>
  <div class="page page-tables-bootstrap ng-scope">
    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen07">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Advanced</strong> Table</h1>
        <ul class="controls">
          <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

            <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
              <li>
                <a href tile-control-toggle>
                  <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                  <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                </a>
              </li>
              <li>
                <a href tile-control-refresh ng-click="ajaxFaker()">
                  <fa name="refresh"></fa> Refresh
                </a>
              </li>
              <li>
                <a href tile-control-fullscreen ng-click="isFullscreen07 = !isFullscreen07">
                  <fa name="expand"></fa> Fullscreen
                </a>
              </li>

            </ul>

          </li>
          <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
        </ul>
      </div>
      <!-- /tile header -->

      <!-- tile widget -->
      <div class="tile-widget">

        <div class="row">

          <div class="col-lg-3">
              <h2 class="page_title">Monday(weekly)</h2>
          </div>
          <div class="col-lg-6">
              <button ng-click="showAddStoreDialog()" class="btn btn-dark btn-border btn-rounded-20 btn-own" >+ Add new destination</button>
              <button ng-click="showMapDialog()" class="btn btn-lightblue btn-border btn-rounded-20 btn-own" style="margin-left:15px;">View overall map</button>
          </div>
          <div class="col-lg-3">
            <div class="input-group">
              <input type="text" class="input-sm form-control" placeholder="Search..." ng-model="search_text">
              <span class="input-group-btn">
                <button class="btn btn-sm btn-default" type="button" ng-click="getUsers()">Go!</button>
              </span>
            </div>
          </div>

        </div>

      </div>
      <!-- /tile widget -->

      <!-- tile body -->
      <div class="tile-body p-0">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th style="width:20px;">
                  <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                    <input type="checkbox" ng-model="selectedAll" ng-change="selectAll()"><i></i>
                  </label>
                </th>
                <th>Store Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Phone Number</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><label class="checkbox checkbox-custom checkbox-custom-sm m-0"><input type="checkbox" ng-model="user.selected"><i></i></label></td>
                <td>PT jaya</td>
                <td class="blue-cell">District 3 - kk V233 34 </td>
                <td class="blue-cell">Jakarta</td>
                <td class="blue-cell">66779</td>
                <td class="blue-cell">5677 8898</td>
                <td style="width:5%;">
                  <span ng-click="showAddStoreDialog(1)" class="text-success">Edit</span>
                </td>
                <td style="width:7%;">
                  <span ng-click="deleteStore(1)" class="text-lightred">Delete</span>
                </td>
              </tr>
              <tr ng-hide="users.length">
                <td colspan = 8 align="center"> There is no result!</td>
              </tr>          
            </tbody>
          </table>
        </div>
      </div>
      <!-- /tile body -->

      <!-- tile footer -->
      <div class="tile-footer dvd dvd-top">
        <div class="row"  ng-show="users.length">

          <div class="col-sm-5 hidden-xs">
          </div>

          <div class="col-sm-3 text-center">
            <small class="text-muted">showing {{(currentPage-1) * perpage + 1 }} - {{to_limit}} of {{users.length}} items</small>
          </div>

          <div class="col-sm-4 text-right">
            <ul class="pagination pagination-sm m-0">
              <li><a href ng-class="{'disable': currentPage == 1}" ng-click="setpage(currentPage-1)"><i class="fa fa-chevron-left"></i></a></li>
              <li class="page_number" ng-repeat="user in users" ng-if="page=($index/perpage)+1; ($index % perpage)==0"><a href ng-class="{'active': page==currentPage}" ng-click="setpage(page)">{{page}}</a></li>
              <li><a href ng-class="{'disable': currentPage>=users.length/perpage && currentPage < users.length/perpage +1}" ng-click="setpage(currentPage+1)"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /tile footer -->

    </section>
    <!-- /tile -->
  </div>
</div>