<div ui-view>
	<div class="page page-tables-bootstrap ng-scope">

	<!-- tile -->
	<section class="tile" fullscreen="isFullscreen07">
  <!-- tile widget -->
	  <div class="tile-widget">
			<div class="row">
	      <div class="col-sm-5">
	          <h2 class="page_title">Routes</h2>
	      </div>
	    </div>
	  </div>
		<div class="row" style="margin-top:20px">
			<div class="col-sm-12" ng-show="$root.userInfo.role!=3">
				<div class="col-sm-1"><h5>Sales</h5></div>
				<div class="col-sm-3">
					<md-select ng-model="salesUser" placeholder="All Sales" style="margin:0;" ng-change="changeSales()">
						<md-option value="all">All Sales</md-option>
						<md-option ng-repeat="user in users" ng-value="user.userID" ng-if="user.salesCode">{{user.salesCode}}</md-option>
					</md-select>
				</div>
				<div class="col-sm-3" ng-if="salesUser">
					<button ng-click="showMapDialog()" class="btn btn-dark btn-border btn-rounded-20 btn-own">View in Map</button>
				</div>
				<div class="col-sm-3 pull-right">
					<button ui-sref="app.route.upload" class="btn btn-dark btn-border btn-rounded-20 btn-own pull-right">Import Route</button>
				</div>
			</div>
		</div>
	  <!-- /tile widget -->

	  <!-- tile body -->
	  <div class="tile-body p-0">
	    <div class="table-responsive">
	      <table class="table mb-0">
	        <thead>
	          <tr>
				<th width="5%">No</th>
				<th width="20%">Date Schedule</th>
				<th width="30%">Store</th>
				<th width="30%">Address</th>
				<th width="15%">Sales Name</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="route in routes" ng-if="$index < currentPage * perpage && $index >= (currentPage-1) * perpage">
            	<td>{{$index + 1}}</td>
	            <td>{{route.routeDate}}</td>
	            <td>{{route.storeName}}</td>
				<td>{{route.storeAddress}}</td>
	            <td>{{route.salesCode}}</td>
	            <!--td>
	              <span ui-sref="app.reports.person({userID: report.userID})" class="text-success">View Details</span>
	            </td-->
	          </tr>
	          <tr ng-hide="routes.length">
	            <td colspan = 5 align="center"> There is no result!</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
	  <!-- /tile body -->

	  <!-- tile footer -->
	  <div class="tile-footer dvd dvd-top">
	    <div class="row"  ng-show="routes.length > perpage">

	      <div class="col-sm-5 hidden-xs">
	      </div>

	      <div class="col-sm-3 text-center">
	        <small class="text-muted">showing {{(currentPage-1) * perpage + 1 }} - {{to_limit}} of {{routes.length}} items</small>
	      </div>

	      <div class="col-sm-4 text-right">
	        <ul class="pagination pagination-sm m-0">
	          <li><a href ng-class="{'disable': currentPage == 1}" ng-click="setpage(currentPage-1)"><i class="fa fa-chevron-left"></i></a></li>
	          <li class="page_number" ng-repeat="route in routes" ng-if="page=($index/perpage)+1; ($index % perpage)==0"><a href ng-class="{'active': page==currentPage}" ng-click="setpage(page)">{{page}}</a></li>
	          <li><a href ng-class="{'disable': currentPage>=routes.length/perpage && currentPage < routes.length/perpage +1}" ng-click="setpage(currentPage+1)"><i class="fa fa-chevron-right"></i></a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <!-- /tile footer -->
	</section>
	<!-- /tile -->
</div>
</div>
