<div ui-view>
<div class="page page-tables-bootstrap ng-scope">
<!-- tile -->
<section class="tile" fullscreen="isFullscreen07">

  <!-- tile header >
  <div class="tile-header dvd dvd-btm">
  </div>
  <!-- /tile header -->

  <!-- tile widget -->
  <div class="tile-widget">

    <div class="row">

      <div class="col-sm-5">
          <h2 class="page_title">Topics</h2>
      </div>

      <div class="col-sm-3"></div>

      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Search</button>
          </span>
        </div>
      </div>

    </div>

  </div>
  <!-- /tile widget -->

  <!-- tile body -->
  <div class="tile-body p-0">

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>No</th>
            <th>Store Name</th>
            <th>Title</th>
            <th>Date</th>
            <th style="width:15%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="topic in topics" ng-if="$index < currentPage * perpage && $index >= (currentPage-1) * perpage">
            <td>{{$index + 1}}</td>
            <td>{{topic.storeName}}</td>
            <td>{{topic.topicTitle}}</td>
            <td>{{topic.date_added}}</td>
            <td>
              <span class="text-success" ui-sref="app.topic.detail({topicID: topic.topicID})">View Comments</span>
            </td>
          </tr>
          <tr ng-hide="topics.length">
            <td colspan = 7 align="center"> There is no result!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /tile body -->

  <!-- tile footer -->
  <div class="tile-footer dvd dvd-top" ng-show="">
    <div class="row" ng-show="topics.length > perpage">

      <div class="col-sm-5 hidden-xs">
      </div>

      <div class="col-sm-3 text-center">
        <small class="text-muted">showing {{(currentPage-1) * perpage + 1 }} - {{to_limit}} of {{topics.length}} items</small>
      </div>

      <div class="col-sm-4 text-right">
        <ul class="pagination pagination-sm m-0">
          <li><a href ng-class="{'disable': currentPage == 1}" ng-click="setpage(currentPage-1)"><i class="fa fa-chevron-left"></i></a></li>
          <li class="page_number" ng-repeat="topic in topics" ng-if="page=($index/perpage)+1; ($index % perpage)==0"><a href ng-class="{'active': page==currentPage}" ng-click="setpage(page)">{{page}}</a></li>
          <li><a href ng-class="{'disable': currentPage>=topics.length/perpage && currentPage < topics.length/perpage +1}" ng-click="setpage(currentPage+1)"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /tile footer -->

</section>
<!-- /tile -->
</div>
</div>
