
/* customized CSS by ME */
.page_title{ margin-top:0px;}
.pagination a.disable{ color:gray !important;}
.pagination a.active{ color:white !important; background: #23527C !important;}
.pagination > li.page_num > a:focus{ color:white !important; background: #23527C !important;}
md-dialog.md-transition-in{ width:60%;}
.md-scroll-mask{ background: #3D0260;opacity: 0.4;}
.nav-tabs.nav-justified{ margin-left:1%; width: 96%;}
.nav-tabs.nav-justified > li{ width:20%; background:#3F4E62;float:left;}
.tabs-dark .nav-tabs{ background:white;}
.btn{ font-family:Lato;font-weight:bold;}
.btn-own{ padding-left:30px !important; padding-right:30px !important; margin-left:10px !important;}
.btn.btn-custom{ background: #ccc; border-color: #ccc; color:333; padding: 2px 10px; margin-bottom:10px;}
.btn.btn-custom:hover{ background: #ccc; }
.btn.btn-bluedark{background:#51445F;border-color:#51445F;color:white;padding: 5px 25px;}
.btn.btn-lightblue{background:white;color:#82BDBF; border:2px solid #82BDBF;}
.btn.btn-dark{background:white;color:#51445F; border:2px solid #51445F;}

tr td.blue-cell{color: #1E5CB1; font-family:Lato;font-size:14px;}

form .row{ margin-top:15px;}
.text-success{cursor:pointer;}
.masonry-brick{ max-width:100%;}
.tab-content{ margin-top:30px;}
#select_area{ margin:0 !important; border:1px solid #959595;background:#F0F4F6;}
#select_area span{color:#2b3543;margin:0 5px 6px 5px;}
.table-responsive{ margin-top:5px;}

.page-lightbox{ width:100%;}
.page-lightbox .row{ margin:0;}
.page-lightbox .page_title{ margin-top:40px;}
.page-lightbox .tile-widget .row{ padding:20px 5% 10px;}
.page-lightbox .form-group{ padding:0 !important; margin-left:0 !important; margin-right:0 !important;}

#user_add .row{ padding:10px 5% 0px;}
#user_add .form-group{ margin-bottom:0px !important;}
#user_add .btn.btn-own{ padding: 4px 20px; margin-bottom:30px;}
#header .branding a.brand{ background: transparent url("../images/logo.png") no-repeat scroll 0px 10px; width:100px; }
.dropdown.nav-profile .dropdown-menu{min-width:165px !important;}
.page_title { color: #51445F;}
.detail_description{ color: #51445F; line-height: 13px;}
@media only screen and (min-width: 768px) {
	.align-right{ text-align:right;} 
}

@media only screen and (max-width: 992px) {
	#header .branding a.brand{ background: transparent url("../images/logo_small.png") no-repeat scroll 0px 10px; width:30px; }
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		margin: 15px 0 !important;
	}
}

.tile-widget { padding:35px 15px 15px 25px !important;}
.masonry-brick .tile{ background:#eee !important; border:1px solid #eee; border-radius: 2px;}